.inner {
  border-radius: 50%;
  background-color: var(--primary-blue);
}

.outer {
  position: relative;
  left: -20px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-blue-light);
}
