.inner1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-red);
}

.outer1 {
  position: relative;
  left: -20px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  animation-name: opacityAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
  background-color: var(--primary-red-light);
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
